.header-page {
  background-color: #116193;
  display: flex;
  flex: 1;
  justify-content: center;
}

.header-page h1 {
  color: #00E8E4;
  font-family: Abel, sans-serif;
  font-weight: 300;
  font-size: 30px;
}